block variables
    - var name = "Hunter;"
doctype html
| html(lang='en')
|   head
|     meta(charset='UTF-8')
|     link(rel='stylesheet' type='text/css' href='dist/main.css')
|     title webpack try
|   body
|     script(src='dist/super.js')
h1 HELLO PUG
|p #{name}